* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcome {
  background-color: #223344;
  margin: auto;
  color: #fff;
  padding-block: 10px;
  text-align: center;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  padding: 20px 0px;
}

.center {
  text-align: center;
  margin-top: 10px;
}
